<!-- <main
    class="bg-gradient-to-br from-indigo-400 via-slate-50 to-slate-400 flex justify-center items-center min-h-screen p-4">
    <mat-card class="max-w-[450px] p-8">
        <mat-card-header class="mb-6 text-center block">
            <mat-card-title class="text-2xl mb-2">{{ 'REGISTER.TITLE' | translate
                }}</mat-card-title>
            <app-language-selector></app-language-selector>
            <mat-card-subtitle>{{ 'REGISTER.SUBTITLE' | translate }}</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content> -->
<app-form-kosto [title]="'REGISTER.TITLE' | translate" [subtitle]="'REGISTER.SUBTITLE' | translate" maxWidth="750px"
    class="bg-gradient-to-br from-indigo-400 via-slate-50 to-slate-400 flex justify-center items-center min-h-screen p-4">
    <div class="flex justify-end mb-4">
        <app-language-selector></app-language-selector>
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

        <h3 class="text-sm font-medium uppercase text-[#666] -mb-2">
            {{ 'REGISTER.BUSINESS_DATA' | translate }}
        </h3>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'REGISTER.COMPANY_NAME' | translate }}</mat-label>
            <input matInput formControlName="companyName">
            @if (registerForm.controls.companyName.hasError('required') &&
            registerForm.controls.companyName.touched) {
            <mat-error>{{ 'REGISTER.COMPANY_REQUIRED' | translate }}</mat-error>
            }
            @if (registerForm.controls.companyName.hasError('minlength')) {
            <mat-error>{{ 'REGISTER.COMPANY_MIN_LENGTH' | translate }}</mat-error>
            }
        </mat-form-field>

        <mat-divider class="mt-2"></mat-divider>

        <h3 class="text-sm font-medium uppercase text-[#666] -mb-2">
            {{ 'REGISTER.ADMIN_DATA' | translate }}
        </h3>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'REGISTER.EMAIL' | translate }}</mat-label>
            <input matInput formControlName="email" type="email">
            @if (registerForm.controls.email.hasError('email')) {
            <mat-error>{{ 'REGISTER.EMAIL_INVALID' | translate }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'REGISTER.PASSWORD' | translate }}</mat-label>
            <input matInput formControlName="password" [type]="hidePassword() ? 'password' : 'text'">
            <button mat-icon-button matSuffix (click)="togglePassword()" type="button">
                <mat-icon>{{ hidePassword() ? 'visibility_off' : 'visibility' }}</mat-icon>
            </button>
            @if (registerForm.controls.password.hasError('minlength')) {
            <mat-error>{{ 'REGISTER.PASSWORD_MIN_LENGTH' | translate }}</mat-error>
            }
        </mat-form-field>

        <button mat-flat-button color="primary" type="submit" [disabled]="registerForm.invalid || isLoading()"
            class="text-base mt-4 py-6">
            {{ isLoading() ? ('REGISTER.LOADING' | translate) : ('REGISTER.BTN' | translate) }}
        </button>
    </form>

    <div class="text-center mt-4 text-sm">
        {{ 'REGISTER.ALREADY_HAVE_ACCOUNT' | translate }} <br>
        <a routerLink="/login" class="text-indigo-700 no-underline font-medium inline-block mt-2">
            {{ 'REGISTER.GO_TO_LOGIN' | translate }}
        </a>
    </div>
    <!-- </mat-card-content>
</mat-card>
</main> -->