<main class="p-4 md:p-8 max-w-screen-2xl my-0 mx-auto flex flex-col gap-4 md:gap-8 w-full">

    <!-- Tarjeta estilo SaaS: Fondo blanco translúcido, bordes suaves y sombra -->
    <mat-card
        class="w-full !backdrop-blur-md !rounded-2xl !shadow-xl !border !border-white/60 !elevation-none bg-gradient-to-br from-sky-100 to-purple-100 p-6">

        <!-- Ajustamos el padding interno de la cabecera -->
        <mat-card-header
            class="flex flex-col md:flex-row justify-between items-start md:items-center mb-6 gap-4 !pb-2 ">
            <div class="">
                <!-- Título más oscuro y en negrita -->
                <mat-card-title class="!text-xl md:!text-2xl !font-extrabold !text-slate-800">{{ title
                    }}</mat-card-title>
                @if (subtitle) {
                <!-- Subtítulo en un gris elegante -->
                <mat-card-subtitle class="!text-slate-500 !font-medium !mt-1">{{ subtitle }}</mat-card-subtitle>
                }
            </div>

            <div class="w-full md:w-auto">
                <ng-content select="[kosto-actions]"></ng-content>
            </div>
        </mat-card-header>

        <!-- Contenido principal -->
        <mat-card-content class="!p-6 !pt-0 ">
            <ng-content></ng-content>
        </mat-card-content>

    </mat-card>

</main>