<h2 mat-dialog-title>{{ data.name }}</h2>

<div mat-dialog-content>
    <form [formGroup]="form">
        <!-- Changed appearance="fill" to "outline" to avoid deprecation of Material -->
        <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'ADD_STOCK_DIALOG.QUANTITY' | translate }}</mat-label>
            <input matInput type="number" formControlName="added" min="1">
            @if (form.controls['added'].invalid) {
            <mat-error>{{ 'ADD_STOCK_DIALOG.ERRORS.INVALID_QUANTITY' | translate }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'ADD_STOCK_DIALOG.NEW_UNIT_COST' | translate }}</mat-label>
            <input matInput type="number" formControlName="newCost" step="0.01" min="0">
            @if (form.controls['newCost'].invalid) {
            <mat-error>{{ 'ADD_STOCK_DIALOG.ERRORS.INVALID_COST' | translate }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full">
            <mat-label>{{ 'ADD_STOCK_DIALOG.AVG_COST' | translate }}</mat-label>
            <input matInput type="number" formControlName="avgCost" step="0.01" min="0">
            @if (form.controls['avgCost'].invalid) {
            <mat-error>{{ 'ADD_STOCK_DIALOG.ERRORS.INVALID_COST' | translate }}</mat-error>
            }
        </mat-form-field>

        <p>{{ 'ADD_STOCK_DIALOG.CURRENT_STOCK' | translate }} <strong>{{ data.current_stock || 0 }}</strong></p>
    </form>
</div>

<div mat-dialog-actions align="end">
    <button mat-button type="button" (click)="onCancel()">{{ 'ADD_STOCK_DIALOG.ACTIONS.CANCEL' | translate }}</button>
    <button mat-flat-button type="button" color="primary" (click)="onConfirm()" [disabled]="form.invalid">{{
        'ADD_STOCK_DIALOG.ACTIONS.ADD' | translate }}
    </button>
</div>