/* app.component.css */

.sidenav-container {
    height: 100vh;
}

.sidenav {
    width: 250px;
}

/* Efecto hover translúcido para los botones del menú lateral */
.sidenav mat-nav-list .mat-mdc-list-item:hover {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

@media (max-width: 768px) {
    .sidenav {
        width: 200px;
    }
}

.sidenav mat-toolbar {
    background-color: transparent !important;
    box-shadow: none !important;
    /* Quita cualquier sombra residual */
    border-radius: 0 !important;
    /* Quita curvas residuales */
}