@if (isLoggedIn()) {
<mat-sidenav-container class="sidenav-container h-screen">

  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Kosto SaaS</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/products">
        <mat-icon matListItemIcon>inventory</mat-icon>
        <div matListItemTitle>{{ 'NAV.PRODUCTS' | translate }}</div>
      </a>

      <a mat-list-item routerLink="/resources">
        <mat-icon matListItemIcon>category</mat-icon>
        <div matListItemTitle>{{ 'NAV.RESOURCES' | translate }}</div>
      </a>

      <a mat-list-item routerLink="/recipes">
        <mat-icon matListItemIcon>receipt_long</mat-icon>
        <div matListItemTitle>{{ 'NAV.RECIPES' | translate }}</div>
      </a>

      <a mat-list-item routerLink="/sales/new">
        <mat-icon matListItemIcon>point_of_sale</mat-icon>
        <div matListItemTitle>{{ 'NAV.POS' | translate }}</div>
      </a>

      <mat-divider></mat-divider>

      <a mat-list-item routerLink="/transaction-logs">
        <mat-icon matListItemIcon>history</mat-icon>
        <div matListItemTitle>{{ 'NAV.TRANSACTIONS' | translate }}</div>
      </a>

      <a mat-list-item routerLink="/production">
        <mat-icon matListItemIcon>factory</mat-icon>
        <div matListItemTitle>{{ 'NAV.PRODUCTION' | translate }}</div>
      </a>

      <a mat-list-item routerLink="/missing-stock-resource">
        <mat-icon matListItemIcon>factory</mat-icon>
        <div matListItemTitle>{{ 'NAV.ZERORESOURCE' | translate }}</div>
      </a>

    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="flex gap-5 items-stretch h-full p-5">
    <mat-toolbar color="primary" class="top-toolbar flex justify-between items-center">

      <div class="flex items-center">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>

      <div class="flex-1 text-center font-medium">
        <span>{{ companyName }}</span>
      </div>

      <div class="flex justify-end">
        <button mat-icon-button [matMenuTriggerFor]="settingsMenu">
          <mat-icon>account_circle</mat-icon>
        </button>
      </div>

      <mat-menu #settingsMenu="matMenu">
        <button mat-menu-item (click)="changeLanguage('es')">Español</button>
        <button mat-menu-item (click)="changeLanguage('en')">English</button>

        <button mat-menu-item routerLink="/tenants">
          <mat-icon>business</mat-icon>
          <span>{{ 'MENU.COMPANY' | translate }}</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="toggleTheme()">
          <mat-icon>{{ isDarkMode ? 'light_mode' : 'dark_mode' }}</mat-icon>
          <span>{{ isDarkMode ? ('MENU.LIGHT_MODE' | translate) : ('MENU.DARK_MODE' | translate) }}</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-menu-item (click)="signOut()">
          <mat-icon color="warn">logout</mat-icon>
          <span>{{ 'MENU.SIGN_OUT' | translate }}</span>
        </button>

      </mat-menu>
    </mat-toolbar>

    <!-- Wrap the outlet and the ads in a flex container -->
    <div class="flex gap-5 items-start p-5">
      <div class="flex-[3] overflow-y-auto">
        <router-outlet></router-outlet>
      </div>

      @if (adService.shouldShowAds()) {
      <div class="flex-1 h-full">
        <app-ad-banner class="block h-full" />
      </div>
      }
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>
} @else {
<router-outlet></router-outlet>
}

@if (modalService.showModal()) {
<app-upgrade-modal (close)="modalService.closeModal()" />
}