<app-form-kosto [title]="'PRODUCTS.FORM.TITLE' | translate">
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4">

        <mat-form-field appearance="outline">
            <mat-label>{{ 'PRODUCTS.FORM.NAME' | translate }}</mat-label>
            <input matInput formControlName="name" [placeholder]="'PRODUCTS.FORM.NAME_PLACEHOLDER' | translate">
            @if (productForm.get('name')?.hasError('required')) {
            <mat-error>{{ 'PRODUCTS.ERRORS.REQUIRED' | translate }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'PRODUCTS.FORM.PRICE' | translate }}</mat-label>
            <input matInput type="number" formControlName="sale_price" step="0.01">
            @if (productForm.get('sale_price')?.hasError('min')) {
            <mat-error>{{ 'PRODUCTS.ERRORS.MIN_PRICE' | translate }}</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>{{ 'PRODUCTS.FORM.TYPE' | translate }}</mat-label>
            <mat-select formControlName="is_pre_made">
                <mat-option [value]="true">{{ 'PRODUCTS.TYPES.PRE_MADE' | translate }}</mat-option>
                <mat-option [value]="false">{{ 'PRODUCTS.TYPES.MAKE_TO_ORDER' | translate }}</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="flex flex-row gap-4 my-4 mx-0">
            <mat-slide-toggle formControlName="create_recipe">
                {{ 'PRODUCTS.FORM.CREATE_RECIPE_AFTER' | translate }}
            </mat-slide-toggle>
        </div>

        <div class="flex gap-4 justify-end mt-4">
            <button mat-button type="button" routerLink="/recipes">{{ 'PRODUCTS.FORM.CANCEL' | translate
                }}</button>

            <button mat-flat-button color="primary" type="submit" [disabled]="productForm.invalid">
                {{ 'PRODUCTS.FORM.SAVE' | translate }}
            </button>
        </div>

    </form>
</app-form-kosto>